{{- if or .Values.postgresql.secrets .Values.global.secrets -}}
kind: Secret
apiVersion: v1
metadata:
  name: {{ printf "%s-%s" (include "template.fullname" .) "postgresql" }}
  labels: {{- include "template.postgresql.labels" . | nindent 4 }}
data:
  {{- if .Values.global.secrets -}}
  {{- include "template.secret" .Values.global | indent 2 }}
  {{- end -}}
  {{- if .Values.postgresql.secrets -}}
  {{- include "template.secret" .Values.postgresql | indent 2 }}
  {{- end -}}
{{- end -}}
