{{- if .Values.vault.enabled -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ printf "%s-%s" (include "template.fullname" .) "vault" }}
  labels:
    {{- include "template.vault.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.vault.job.schedule }}
  successfulJobsHistoryLimit: {{ .Values.vault.job.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.vault.job.failedJobsHistoryLimit }}
  concurrencyPolicy: {{ .Values.vault.job.concurrencyPolicy }}
  timeZone: {{ .Values.vault.job.timeZone }}
  jobTemplate:
    metadata:
      {{- if .Values.vault.jobAnnotations }}
      annotations:
        {{- with .Values.vault.jobAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
      labels:
        {{- include "template.vault.selectorLabels" . | nindent 8 }}
        {{- with .Values.vault.jobLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      backoffLimit: {{ .Values.vault.job.backoffLimit }}
      template:
        metadata:
          {{- if .Values.vault.podAnnotations }}
          annotations:
            {{- with .Values.vault.podAnnotations }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
          labels:
            {{- include "template.vault.selectorLabels" . | nindent 12 }}
            {{- with .Values.vault.podLabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        spec:
          {{- if and .Values.imageCredentials.username .Values.imageCredentials.password }}
          imagePullSecrets:
          - name: {{ include "template.name" . }}-pullsecret
          {{- end }}
          restartPolicy: {{ .Values.vault.restartPolicy }}
          {{- if .Values.vault.podSecurityContext }}
          securityContext:
            {{- toYaml .Values.vault.podSecurityContext | nindent 12 }}
          {{- end }}
          containers:
          - name: vault
            {{- if .Values.vault.container.securityContext }}
            securityContext:
              {{- toYaml .Values.vault.container.securityContext | nindent 14 }}
            {{- end }}
            image: {{ printf "%s:%s" .Values.vault.image.repository (.Values.vault.image.tag | default printf "%s" "latest") }}
            imagePullPolicy: {{ .Values.vault.image.pullPolicy }}
            {{- if .Values.vault.container.command }}
            command:
            {{- range .Values.vault.container.command }}
            - {{ . | quote }}
            {{- end }}
            {{- end }}
            {{- if .Values.vault.container.args }}
            args:
            {{- range .Values.vault.container.args }}
            - {{ . | quote }}
            {{- end }}
            {{- end }}
            ports:
            - containerPort: {{ .Values.vault.container.port }}
              protocol: TCP
            envFrom:
            {{- if or .Values.vault.env .Values.global.env }}
            - configMapRef:
                name: {{ printf "%s-%s" (include "template.fullname" .) "vault" }}
            {{- end }}
            {{- if or .Values.vault.secrets .Values.global.secrets }}
            - secretRef:
                name: {{ printf "%s-%s" (include "template.fullname" .) "vault" }}
            {{- end }}
            {{- if .Values.vault.envFrom }}
              {{- toYaml .Values.vault.envFrom | nindent 12 }}
            {{- end }}
            resources:
              {{- toYaml .Values.vault.resources | nindent 14 }}
{{- end }}
