{{- range $authName, $auth := .Values.vaultAuth }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: {{ printf "%s-%s" (include "vso-utils.fullname" $) (include "vso-utils.toKebabCase" $authName) }}
  labels: {{- include "vso-utils.labels" (list $ $authName) | nindent 4 }}
    {{- with $auth.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with $auth.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with $auth.namespace }}
  namespace: {{ . }}
  {{- end }}
  method: {{ $auth.method | required (printf "method is required for VaultAuth %s" $authName) }}
  mount: {{ $auth.mount | required (printf "mount is required for VaultAuth %s" $authName) }}
  {{- with $auth.params }}
  params:
    {{- range $key, $value := . }}
    {{- if eq $key "audiences" }}
    {{- if kindIs "slice" $value }}
    audiences: {{ join "," $value | quote }}
    {{- else }}
    audiences: {{ $value | quote }}
    {{- end }}
    {{- else }}
    {{ $key }}: {{ $value | toYaml }}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- with $auth.headers }}
  headers:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $auth.vaultConnectionRef }}
  vaultConnectionRef: {{ . }}
  {{- end }}
  {{- with $auth.storageEncryption }}
  storageEncryption:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
