{{- range $secretName, $vss := .Values.vaultStaticSecrets }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ printf "%s-%s" (include "template.fullname" $) (include "template.toKebabCase" $secretName) }}
  labels: {{- include "template.labels" (list $ $secretName) | nindent 4 }}
    {{- with $vss.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with $vss.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with $vss.namespace }}
  namespace: {{ . }}
  {{- end }}
  mount: {{ $vss.mount | required (printf "mount is required for VaultStaticSecret %s" $secretName) }}
  vaultAuthRef: {{ $vss.vaultAuthRef | required (printf "vaultAuthRef is required for VaultStaticSecret %s" $secretName) }}
  path: {{ $vss.path | required (printf "path is required for VaultStaticSecret %s" $secretName) }}
  {{- with $vss.version }}
  version: {{ . }}
  {{- end }}
  type: {{ $vss.type | default "kv-v2" }}
  {{- with $vss.refreshAfter }}
  refreshAfter: {{ . }}
  {{- end }}
  hmacSecretData: {{ $vss.hmacSecretData | default true }}
  {{- with $vss.rolloutRestartTargets }}
  rolloutRestartTargets:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  destination:
    create: {{ $vss.destination.create | default true }}
    {{- if hasKey $vss.destination "overwrite" }}
    overwrite: {{ $vss.destination.overwrite }}
    {{- end }}
    {{- with $vss.destination.labels }}
    labels:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with $vss.destination.annotations }}
    annotations:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    name: {{ $vss.destination.name | required (printf "destination.name is required for VaultStaticSecret %s" $secretName) }}
    type: {{ $vss.destination.type | default "Opaque" }}
    {{- with $vss.destination.transformation }}
    transformation:
      {{- toYaml . | nindent 6 }}
    {{- end }}
{{- end }}
