{{- range $secretName, $vpki := .Values.vaultPKISecrets }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultPKISecret
metadata:
  name: {{ printf "%s-%s" (include "template.fullname" $) (include "template.toKebabCase" $secretName) }}
  labels: {{- include "template.labels" (list $ $secretName) | nindent 4 }}
    {{- with $vpki.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with $vpki.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with $vpki.namespace }}
  namespace: {{ . }}
  {{- end }}
  mount: {{ $vpki.mount | required (printf "mount is required for VaultPKISecret %s" $secretName) }}
  vaultAuthRef: {{ $vpki.vaultAuthRef | required (printf "vaultAuthRef is required for VaultPKISecret %s" $secretName) }}
  role: {{ $vpki.role | required (printf "role is required for VaultPKISecret %s" $secretName) }}
  commonName: {{ $vpki.commonName | required (printf "commonName is required for VaultPKISecret %s" $secretName) }}
  {{- with $vpki.altNames }}
  altNames:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $vpki.ipSans }}
  ipSans:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $vpki.uriSans }}
  uriSans:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $vpki.otherSans }}
  otherSans:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  format: {{ $vpki.format | default "pem" }}
  revoke: {{ $vpki.revoke | default true }}
  {{- if hasKey $vpki "clear" }}
  clear: {{ $vpki.clear }}
  {{- end }}
  {{- with $vpki.expiryOffset }}
  expiryOffset: {{ . }}
  {{- end }}
  {{- with $vpki.ttl }}
  ttl: {{ . }}
  {{- end }}
  {{- if hasKey $vpki "excludeCNFromSans" }}
  excludeCNFromSans: {{ $vpki.excludeCNFromSans }}
  {{- end }}
  {{- with $vpki.privateKeyFormat }}
  privateKeyFormat: {{ . }}
  {{- end }}
  hmacSecretData: {{ $vpki.hmacSecretData | default true }}
  {{- with $vpki.rolloutRestartTargets }}
  rolloutRestartTargets:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  destination:
    create: {{ $vpki.destination.create | default true }}
    {{- if hasKey $vpki.destination "overwrite" }}
    overwrite: {{ $vpki.destination.overwrite }}
    {{- end }}
    {{- with $vpki.destination.labels }}
    labels:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with $vpki.destination.annotations }}
    annotations:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    name: {{ $vpki.destination.name | required (printf "destination.name is required for VaultPKISecret %s" $secretName) }}
    type: {{ $vpki.destination.type | default "kubernetes.io/tls" }}
    {{- with $vpki.destination.transformation }}
    transformation:
      {{- toYaml . | nindent 6 }}
    {{- end }}
{{- end }}
