{{- range $secretName, $vds := .Values.vaultDynamicSecrets }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultDynamicSecret
metadata:
  name: {{ printf "%s-%s" (include "template.fullname" $) (include "template.toKebabCase" $secretName) }}
  labels: {{- include "template.labels" (list $ $secretName) | nindent 4 }}
    {{- with $vds.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with $vds.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with $vds.namespace }}
  namespace: {{ . }}
  {{- end }}
  mount: {{ $vds.mount | required (printf "mount is required for VaultDynamicSecret %s" $secretName) }}
  vaultAuthRef: {{ $vds.vaultAuthRef | required (printf "vaultAuthRef is required for VaultDynamicSecret %s" $secretName) }}
  path: {{ $vds.path | required (printf "path is required for VaultDynamicSecret %s" $secretName) }}
  {{- with $vds.params }}
  params:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $vds.renewalPercent }}
  renewalPercent: {{ . }}
  {{- end }}
  revoke: {{ $vds.revoke | default true }}
  hmacSecretData: {{ $vds.hmacSecretData | default true }}
  {{- with $vds.rolloutRestartTargets }}
  rolloutRestartTargets:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  destination:
    create: {{ $vds.destination.create | default true }}
    {{- if hasKey $vds.destination "overwrite" }}
    overwrite: {{ $vds.destination.overwrite }}
    {{- end }}
    {{- with $vds.destination.labels }}
    labels:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with $vds.destination.annotations }}
    annotations:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    name: {{ $vds.destination.name | required (printf "destination.name is required for VaultDynamicSecret %s" $secretName) }}
    type: {{ $vds.destination.type | default "Opaque" }}
    {{- with $vds.destination.transformation }}
    transformation:
      {{- toYaml . | nindent 6 }}
    {{- end }}
{{- end }}
