{{- $appPassword := (.Values.credentials.password | default (randAlphaNum 24)) -}}
{{- $dbUsername := .Values.credentials.username | default (include "template.fullname" .) }}
{{- $dbName := .Values.dbName | default (include "template.fullname" .) }}
{{- if eq .Values.credentials.existingSecrets.enabled false }}
kind: Secret
apiVersion: v1
type: kubernetes.io/basic-auth
metadata:
  name: {{ printf "%s-%s" (include "template.fullname" .) "admin" }}
  labels: {{- include "template.labels" . | nindent 4 }}
  {{- if .Values.annotations }}
  annotations: {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
data:
  username: {{ "postgres" | b64enc }}
  password: {{ (.Values.credentials.postgresPassword | default (randAlphaNum 24)) | b64enc }}

---
kind: Secret
apiVersion: v1
type: kubernetes.io/basic-auth
metadata:
  name: {{ printf "%s-%s" (include "template.fullname" .) "app" }}
  labels:
    {{- include "template.labels" . | nindent 4 }}
  {{- if .Values.annotations }}
  annotations:
    {{- with .Values.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
data:
  username: {{ (.Values.credentials.username | default (include "template.fullname" .)) | b64enc }}
  password: {{ $appPassword | b64enc }}
{{- end }}

{{- if .Values.infosSecret.create }}
{{- $baseUrl := printf "postgresql://%s:%s@%s-rw.%s.svc:5432/%s" $dbUsername $appPassword (include "template.fullname" .) .Release.Namespace $dbName -}}
{{- $finalUrl := $baseUrl -}}
{{- if .Values.infosSecret.urlParameters -}}
  {{- $finalUrl = printf "%s?%s" $baseUrl .Values.infosSecret.urlParameters -}}
{{- end -}}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ .Values.infosSecret.secretName | default (printf "%s-%s" (include "template.fullname" .) "infos") }}
  labels: {{- include "template.labels" . | nindent 4 }}
  {{- if .Values.annotations }}
  annotations: {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
data:
  {{ .Values.infosSecret.keys.host | default "DB_HOST" }}: {{ printf "%s-rw.%s.svc" (include "template.fullname" .) .Release.Namespace | b64enc | quote }}
  {{ .Values.infosSecret.keys.port | default "DB_PORT" }}: {{ "5432" | b64enc | quote }}
  {{ .Values.infosSecret.keys.name | default "DB_NAME" }}: {{ $dbName | b64enc | quote }}
  {{ .Values.infosSecret.keys.user | default "DB_USER" }}: {{ $dbUsername | b64enc | quote }}
  {{ .Values.infosSecret.keys.password | default "DB_PASS" }}: {{ $appPassword | b64enc | quote }}
  {{ .Values.infosSecret.keys.url | default "DB_URL" }}: {{ $finalUrl | b64enc | quote }}
{{- end -}}
