{{- if .Values.pooler.enabled }}
apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: {{ printf "%s-%s-%s" (include "template.fullname" .) "pooler" .Values.pooler.type }}
  labels: {{- include "template.labels" . | nindent 4 }}
  {{- if .Values.annotations }}
  annotations: {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
spec:
  instances: {{ .Values.pooler.instances | default 3 }}
  cluster:
    name: {{ include "template.fullname" . }}
  type: {{ .Values.pooler.type }}
  {{- if .Values.pooler.pgbouncer }}
  pgbouncer: {{- toYaml .Values.pooler.pgbouncer | nindent 4 }}
  {{- end }}
  {{- if .Values.pooler.template }}
  template: {{- toYaml .Values.pooler.template | nindent 4 }}
  {{- end }}
{{- end }}
