{{- range $backupName, $backup := .Values.backups }}
{{- if and $backup.enabled (or $backup.secrets $.Values.global.secrets) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-%s" (include "helper.fullname" $) (include "helper.toKebabCase" $backupName) }}
  labels: {{- include "helper.labels" (list $ $backupName) | nindent 4 }}
data:
{{- if $.Values.global.secrets -}}
{{- include "helper.secret" $.Values.global | indent 2 }}
{{- end }}
{{- if $backup.secrets -}}
{{- include "helper.secret" $backup | indent 2 }}
{{- end }}
{{- end }}
{{- end }}
