{{- range $backupName, $backup := .Values.backups }}
{{- if and $backup.enabled (or $backup.secrets $.Values.global.secrets) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-%s" (include "backup-utils.fullname" $) (include "backup-utils.toKebabCase" $backupName) }}
  labels: {{- include "backup-utils.labels" (list $ $backupName) | nindent 4 }}
data:
{{- if $.Values.global.secrets }}
{{- include "backup-utils.secret" $.Values.global | indent 2 }}
{{- end }}
{{- if $backup.secrets }}
{{- include "backup-utils.secret" $backup | indent 2 }}
{{- end }}
{{- end }}
{{- end }}
